/* Literally only dealing with the nav-map in a way that is easily changed*/

#nav-map{
	opacity:.6;
	height:100%;
	float:right;
	display:block;
	position:relative;
	margin:0px;
	z-index: 10;
	overflow: visible;