body{
	width:100%;
	height: 100%;
	text-align:center;
	background: url(http://www.ancient.eu/uploads/images/93.jpg?v=1431036072) no-repeat center center fixed; 
	margin:0 0 0 0;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
p{
	margin:0 0 0 5px;
	padding: 0 0 0 0;
	color: #fff;

}
#nav-map{
	opacity:.6;
	right:0;
	display:block;
	position:fixed;
	margin:0px;
	z-index: 10;
	overflow: visible;
}
.title{
	font-family:'Merriweather', serif;
	text-align: left;
	position:relative;
	display: block;
	padding-top:2em;

	color:#fff;
	font-size:2em;
}
#top{
	width:100%;
	color:#fff;
	height:100px;
	padding:0,0,0,0;
	display:block;
}
#center{
	width:70%;
	height:450px;
	margin-left:0px;
	position: relative;
	left:0;
	bottom:0;
	display:inline-block;
	margin:0 auto;
}
#centmid {
	border-radius: 10px;

	width: 100%;
	height: 350px;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 200px;
	position: relative;
	background: rgba(34,34,34,.5);
	}
#centmid li{
	text-align: left;
	margin-left: 30px;
}
#left{
	width:5%;
	height:100%;
	position:fixed;
	left:0;
	margin-right:0px;
	display:block;
}
#right{
	width:10%;
	height:100%;
	position:fixed;
	margin-left:0px;
	right:0;
	display:block;
}
